/* General HTML elements */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #EBEBEB;
  font-family: 'Montserrat', sans-serif;
}

footer {
  background-color: #D9D9D9;
  padding: 2vw 0vw 2vw 0vw;
}

a:hover {
  text-decoration: none;
}

#video-container {
  margin: 0;
  width: 100%;
  overflow: hidden;
  margin-bottom: -10px;
}

#video-container video {
  width: 100%;
  background-size: cover;
  transition: 1s opacity;
  z-index:-1;
  object-fit: cover;
}

.navbar-light .navbar-nav .nav-link {
  color: #686868;
}

/* Dividers */
.front-card {
  background-image: url(../img/keys.jpeg);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.purple-banner {
  background-color: #89529E;
  height: 35%; 
}

.aqua-banner {
  background-color: #49948C;
  height: 35%; 
}

.orange-banner {
  background-color: #EEB776;
  height: 35%; 
}

.section-title {
  color: #fff;
  padding: 0 10px 0 10px;
}

.page-title {
  color: #89529E;
  margin: 20px 0 20px;
}

.logo {
  min-width: 100px;
  max-width: 40%;
  z-index: -1;
}

#sponsors {
  margin-top: 7vh;
  margin-bottom: 7vh;
}

/* Positioning */
.row-margin {
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.true-center {
  display:flex;
  justify-content:center;
  align-items:center;
  /* width:100%; */
  height:100%;
}

.sponsor-margin {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

/* Icons */
.icon-purple {
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: #89529E;
}

/* Events */
.calendar-responsive {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 50%;
}

.calendar-responsive iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

/* Gallery */
.my-gallery {
  width: 100%;
  padding: 0 0 40px 0;
}
.my-gallery img {
  width: 23%;
  padding: 10px;
}
.my-gallery figure {
  display: inline;
}
.my-gallery figcaption {
  display: none; 
}

/* E-Board */
.contact-card {
  padding: 20px 20px 0 20px;
}

.contact-title {
  font-size: 18px;
  color: #89529E;
  margin: 0;
  padding-top: 10px;
}

.contact-name {
  font-size: 22px;
  margin: 0;
}

.contact-email {
  font-size: 14px;
  margin: 0;
  padding-bottom: 10px;
  word-wrap: break-word;
}

.card-row {
  margin: 30px 0 30px 0;
}

/* footer */
.footer-list {
  list-style-type: none;
  padding: 0;
}

.footer-list-item {
  margin-bottom: 20px;
}

@media screen and (min-width: 300px) {
  .section-title, .page-title {
    font-size: 1.8rem;
  }
  .purple-banner {
    background-color: #89529E;
    height: 25%; 
  }
  .my-gallery img {
    width: 23%;
  }
  .calendar-responsive {
    padding-bottom: 120%;
  }
  .calendar-responsive iframe {
    height: 95%;
  }
}

@media screen and (min-width: 425px) {
  .section-title, .page-title {
    font-size: 2.5rem;
  }
  .purple-banner {
    background-color: #89529E;
    height: 35%; 
  }
  .my-gallery img {
    width: 23%;
  }
  .calendar-responsive {
    padding-bottom: 110%;
  }
  .calendar-responsive iframe {
    height: 95%;
  }
}

@media screen and (min-width: 768px) {
  .section-title, .page-title {
    font-size: 3rem;
  }
  .purple-banner {
    background-color: #89529E;
    height: 30%; 
  }
  .my-gallery img {
    width: 24%;
  }
  .calendar-responsive {
    padding-bottom: 85%;
  }
  .calendar-responsive iframe {
    height: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .section-title, .page-title {
    font-size: 3rem;
  }
  .purple-banner {
    background-color: #89529E;
    height: 30%; 
  }
  .my-gallery img {
    width: 24.5%;
  }
  .calendar-responsive {
    padding-bottom: 85%;
  }
  .calendar-responsive iframe {
    height: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .section-title, .page-title {
    font-size: 3.5rem;
  }
  .purple-banner {
    background-color: #89529E;
    height: 35%; 
  }
  .my-gallery img {
    width: 24.7%;
  }
  .calendar-responsive {
    padding-bottom: 70%;
  }
  .calendar-responsive iframe {
    height: 90%;
  }
}